.main-sec {
    margin-left: 4%;
}

@media (max-width: 1440px) { 
    .main-sec {
        margin-left: 2%;
    }
}
@media (max-width: 1024px) { 
    .main-sec {
        margin-left: -3%;
    }
}

@media (max-width: 768px) { 
    .main-sec {
        margin-left: -6% !important;
    }
} 
  
@media (max-width: 425px) { 
}

@media (max-width: 375px) { 
}

@media (max-width: 320px) { 
}