.entry {
    &-form {
        margin-bottom: 2%;
    }
    &-user {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }
    &-user h3{
        margin-bottom: 2%;
    }
    &-error {
        color: red;
    }
    &-label {
        position: inherit !important;
        float: left !important;
    }
    &-btn {
        margin-bottom: 2%;
    }
    &-error {
      padding: 15px;
    }
    &-search {
      position: inherit;
      float: right !important;
    }
    &-total {
      position: relative;
      float: left !important;
    }
}

label {
  position: inherit !important;
  float: left !important
}
