.entry {
    &-form {
        margin-bottom: 2%;
    }   
    &-user {
        padding-right: 10%;
        padding-left: 10%;
        margin-bottom: 5%;
    }
    &-user h3{
        margin-bottom: 2%;
    }
    &-error {
        color: red;
    }
    &-label {
        padding: 0px !important;
    }
    &-btn {
        margin-bottom: 2%;
    }
}