<section>
  <div class="container" id="container-user">
    <h3>Add New User</h3>
    <form class="form-signin" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label for="inputName" class="sr-only user-form">User Name</label>
        <input type="text" id="inputName" class="form-control user-form" placeholder="User Name" formControlName="name" required>
        <label for="inputEmail" class="sr-only user-form">Email address</label>
        <input type="email" id="inputEmail" class="form-control user-form " placeholder="Email address" formControlName="email" required autofocus>
        <label for="inputPassword" class="sr-only user-form">Password</label>
        <input type="password" id="inputPassword" class="form-control user-form" placeholder="Password" formControlName="password" required>
        <label for="inputPassword" class="sr-only user-form">Role</label>
        <select class="form-control user-form" id="isAdmin" formControlName="isAdmin" placeholder="Role">
          <option>Admin</option>
          <option>User</option>
        </select>
        <div>
          <button class="btn btn-secondary user-form" type="submit">Add User</button>
        </div>
      </form>

  </div>
</section>
