.user {
  &-form {
    margin-top: 20px;
  }
  &-error {
    color: red;
  }
  &-success {
    color: green;
  }
  &-btn {
    float: left;
  }
}
#user-cont {
  margin-left: 33% !important;
}

.form-control {
  max-width: 400px !important;
}


