<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" type="button">
              <i-feather name="home"></i-feather>
              Dashboard
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a type="button" class="nav-link">
              <i-feather name="file-text"></i-feather>
              Entry
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i-feather name="file-text"></i-feather>
              Registration
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i-feather name="file-text"></i-feather>
              Production
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i-feather name="file-text"></i-feather>
              Users
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
