<section>
    <form class="form-signin text-center login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img class="mb-4 shadow-lg rounded" id="logo" src="assets/img/logo.png" alt="" width="140" height="72">
        <p class=""><br>Please sign in</p>
        <small *ngIf="loginError !== ''" class="text-danger"> {{ loginError }} </small>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
</section>
