<div class="container card-products">
  <div class="row">
      <div *ngIf="isAdmin" class="col-md-4 col-xl-3">
        <div class="card-link">
            <div class="card bg-c-blue order-card" (click)="sendNotification(1)">
              <div class="card-block">
                <h6 class="m-b-20">Add User</h6>
                <h2 class="text-right"><i-feather name="meh"></i-feather></h2>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card-link">
          <div class="card bg-c-green order-card" (click)="sendNotification(2)">
            <div class="card-block">
              <h6 class="m-b-20">Entry</h6>
              <h2 class="text-right"><i-feather name="layers"></i-feather></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card-link">
            <div class="card bg-c-yellow order-card" (click)="sendNotification(3)">
              <div class="card-block">
                <h6 class="m-b-20">Registration</h6>
                <h2 class="text-right"><i-feather name="home"></i-feather></h2>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card-link">
          <div class="card bg-c-pink order-card" (click)="sendNotification(4)">
            <div class="card-block">
              <h6 class="m-b-20">Production</h6>
              <h2 class="text-right"><i-feather name="home"></i-feather></h2>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
