$header-color: #343a4073;
$font-white: #ffffff;
$font-orange: #d8652b;

.search {
    &-header {
        color: $font-white;
        background-color: $header-color;
        &-modal {
            color: $font-white;
            background-color: $header-color;

        }
        &-modal h4{
            margin: auto !important;
        }
    }
    &-title {
        color: $font-orange !important;
    }
}

.entry-fields {
    color: $font-orange !important;
}